{% extends "base.html" %}

{% block content %}
 	
<!-- Begin Content -->
<div class="col-md-9">

	{% if current_user.is_authenticated() %}
	<div class="margin-bottom-20">				
		<p><h1>Welcome, {{ current_user.nickname or 'Anonymous Gamer' }}</h1></p>
			
		<p>Registered at: {{ current_user.confirmed_at }}</p>
		<p><a href="/results">Check out your Results</a></p>
	</div>
	{% endif %}
	
	<div class="margin-bottom-40" align="center">
	<iframe width="840" height="510" src="//www.youtube.com/embed/9t5SpDkuupY" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="row">
			<!--Info Block-->
		<div class="col-md-12">
			<!-- Service Blocks -->
			<div class="row margin-bottom-10">
				
				<div class="col-md-4 col-sm-12">
					<div class="service">
						<i class="fa fa-cogs service-icon"></i>
						<div class="desc">
							<h4>Get and Track your Gaming IQ</h4>
							<p>Track your Perception, Learning, and Attention abilities over time through your <div id="playiqtxt"></div> . Learn how your abilities relate to your gaming habits and other factors.</p>						
						</div>
					</div>	
				</div>
				
				<div class="col-md-4 col-sm-12">
					<div class="service">
						<i class="fa fa-tachometer service-icon"></i>
						<div class="desc">
							<h4>Compare and Improve</h4>
							<p>Find out where you rank compared to other gamers and what you can do to improve. Optionally, share your results with friends and others.</p>
							<br>
						</div>
					</div>	
				</div>

				<div class="col-md-4 col-sm-12">
					<div class="service">
						<i class="fa fa-rocket service-icon"></i>
						<div class="desc">
							<h4>Find your Ideal Game</h4>
							<p>Get game recommendations based on your gaming habits and PlayIQ. Find the games that match your cognitive profile.</p>
							<br><br>
						</div>
					</div>	
				</div>
				
			</div>
			<!-- End Service Blocks -->
		</div>

	<!-- Magazine Mini News and Info Block -->
	<div class="col-md-12">
					
			<div class="funny-boxes funny-boxes-top-playiq">
				<div class="row">
					<div class="col-md-4 funny-boxes-img">
						<img class="img-responsive" src="/static/img/stock/7.jpg" alt="">
						<span class="magazine-badge magazine-badge-playiq">New Research</span>
						<ul class="list-unstyled fa-fixed">
						   <li><i class="fa fa-tag"></i> Gaming, Psychology</li>
						   <li><i class="fa fa-map-marker"></i> University of Geneva</li>
						</ul>
					</div>
					<div class="col-md-8">
						<h2><a href="#"><font color="d76cbb" <ul>Research Blog</ul></font></a> / Smith & Harris, 2014</h2>
						<blockquote>
                    <p><em>"Video gaming has been shown to affect your cognitive abilities. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. And, like any great relationship, it just gets better and better as the years roll on"</em></p>
                    <small><em>Smith & Harris, 2014</em></small>
                </blockquote>  
						<p>This research is interesting because it is very cool. Check out more at the science blog <a href="#"><i class="fa fa-arrow-circle-right"></a></i></p>
					</div>
				</div>                            
			</div>
			
		</div>
		<!--End Info Block-->
	</div>
	<!-- End Magazine Mini News and Info Block -->


	
	
</div>
<!-- End Content -->


	

{% endblock %}